<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="UH-v3.0 final.SLDASM right v2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0056123771364854 0.00649825664579362 0.0124893822394179"
        rpy="0 0 0" />
      <mass
        value="0.192970315600193" />
      <inertia
        ixx="0.000108537349210273"
        ixy="-1.51872821036693E-07"
        ixz="-2.0025978201521E-08"
        iyy="0.000130879701084588"
        iyz="-8.40191538936318E-11"
        izz="0.000218823485546675" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="-8.09453037351991E-05 -5.20288063721175E-06 0.0499265705171848"
        rpy="0 0 0" />
      <mass
        value="0.0247648095830755" />
      <inertia
        ixx="2.63934350117198E-06"
        ixy="4.53691752492843E-09"
        ixz="6.51065885822624E-08"
        iyy="2.83034827414881E-06"
        iyz="1.32071852497683E-09"
        izz="1.91165957201144E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="0.0038974 0.073 0.0125"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="-0.050073529318353 1.08473305191759E-05 -0.0120639530709679"
        rpy="0 0 0" />
      <mass
        value="0.0250912618003005" />
      <inertia
        ixx="3.54422284036096E-06"
        ixy="2.61565600345329E-11"
        ixz="5.38598418794176E-09"
        iyy="3.14613516997195E-06"
        iyz="3.2423555596215E-09"
        izz="1.18567717430653E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.0173 0 0.068"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.000465712730662187 5.59566534354128E-05 0.0978997402485848"
        rpy="0 0 0" />
      <mass
        value="0.0273650717145351" />
      <inertia
        ixx="5.95252288520202E-06"
        ixy="-1.58986059660229E-08"
        ixz="-1.02140695349377E-07"
        iyy="6.13411804142684E-06"
        iyz="-2.53861598094826E-08"
        izz="1.94088531281649E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="-0.075 0 -0.0173"
      rpy="0 -1.5708 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="0.0419896820350376 0.00127199531724956 0.0223771809703008"
        rpy="0 0 0" />
      <mass
        value="0.0258917537291028" />
      <inertia
        ixx="3.82289080194557E-06"
        ixy="1.77091146388231E-07"
        ixz="-3.97111143556555E-09"
        iyy="3.47125324025841E-06"
        iyz="6.72291875048199E-10"
        izz="1.53989864986402E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.0173 0 0.128"
      rpy="0 -1.5708 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-7.96592790369994E-05 -5.12021947066121E-06 0.0573305303943935"
        rpy="0 0 0" />
      <mass
        value="0.025164614315877" />
      <inertia
        ixx="2.82377177669696E-06"
        ixy="4.53691752492844E-09"
        ixz="6.5106588582263E-08"
        iyy="3.01324807849293E-06"
        iyz="1.32071852497793E-09"
        izz="1.91425361842378E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.065178 0 0.0173"
      rpy="0 1.5708 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="0.0614420854678283 5.01523036564033E-06 -0.0121210791957616"
        rpy="0 0 0" />
      <mass
        value="0.0256914118358871" />
      <inertia
        ixx="3.54799287343329E-06"
        ixy="1.41881747750438E-10"
        ixz="-4.90268790499527E-09"
        iyy="3.32687013710215E-06"
        iyz="-3.24235555962372E-09"
        izz="1.36858362271785E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="-0.0173 0 0.077"
      rpy="0 -1.5708 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="-0.0456918749566375 0.00159181302471353 0.0322192924719973"
        rpy="0 0 0" />
      <mass
        value="0.0603671967995476" />
      <inertia
        ixx="9.65136594698836E-06"
        ixy="-5.55994456047317E-08"
        ixz="1.38653248702235E-06"
        iyy="5.323362014346E-05"
        iyz="3.15149612726217E-08"
        izz="5.43275002520648E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://UH-v3.0 final.SLDASM right v2/meshes/Link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="0.09 0 -0.0173"
      rpy="0 1.5708 0" />
    <parent
      link="Link6" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>