<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="UH-v3.0 final.SLDASM right">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.00561237713648539 -0.00649825664579372 -0.0124886395093204"
        rpy="0 0 0" />
      <mass
        value="0.192970315600193" />
      <inertia
        ixx="0.000108537349210273"
        ixy="-1.5187282103668E-07"
        ixz="-2.27831404344553E-08"
        iyy="0.000130879701084588"
        iyz="8.40191538937095E-11"
        izz="0.000218823485546675" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="Link1">
    <inertial>
      <origin
        xyz="8.09453037325901E-05 -1.09903211080731E-05 0.0500472194620988"
        rpy="0 0 0" />
      <mass
        value="0.0247648095830755" />
      <inertia
        ixx="2.63934350117199E-06"
        ixy="-4.7049558327132E-09"
        ixz="-6.46232922456025E-08"
        iyy="2.83034827414882E-06"
        iyz="-1.32071852497691E-09"
        izz="1.91165957201145E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="revolute">
    <origin
      xyz="-0.0038974 -0.073 -0.0125"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="Link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0.5"
      velocity="100" />
  </joint>
  <link
    name="Link2">
    <inertial>
      <origin
        xyz="0.0501926085488432 -5.13518808678559E-06 -0.022536046928789"
        rpy="0 0 0" />
      <mass
        value="0.0250912618003005" />
      <inertia
        ixx="3.54422284036095E-06"
        ixy="-2.61565647719787E-11"
        ixz="4.90268790499682E-09"
        iyy="3.14613516997195E-06"
        iyz="5.99951779801149E-09"
        izz="1.18567717430653E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="revolute">
    <origin
      xyz="-0.0173 0 0.068"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="Link1" />
    <child
      link="Link2" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link3">
    <inertial>
      <origin
        xyz="0.000465712730661269 7.0611157619721E-05 0.098008924985185"
        rpy="0 0 0" />
      <mass
        value="0.0273650717145351" />
      <inertia
        ixx="5.95252288520201E-06"
        ixy="-2.51404793236614E-08"
        ixz="-1.02623991686038E-07"
        iyy="6.13411804142683E-06"
        iyz="-2.53861598094708E-08"
        izz="1.94088531281648E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="revolute">
    <origin
      xyz="0.075 0 -0.0173"
      rpy="0 1.5708 0" />
    <parent
      link="Link2" />
    <child
      link="Link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link4">
    <inertial>
      <origin
        xyz="-0.0419896820350397 -0.00127753085812449 -0.0224358318023682"
        rpy="0 0 0" />
      <mass
        value="0.0258917537291028" />
      <inertia
        ixx="3.82289080194557E-06"
        ixy="1.76923108080445E-07"
        ixz="-6.31756065737019E-09"
        iyy="3.47125324025841E-06"
        iyz="-6.72291875042889E-10"
        izz="1.53989864986402E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.0173 0 0.128"
      rpy="0 1.5708 0" />
    <parent
      link="Link3" />
    <child
      link="Link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link5">
    <inertial>
      <origin
        xyz="-7.9659279051408E-05 0.00444604569852089 0.0576003426534185"
        rpy="0 0 0" />
      <mass
        value="0.025164614315877" />
      <inertia
        ixx="2.82377177669697E-06"
        ixy="-4.70495583271331E-09"
        ixz="6.46232922456031E-08"
        iyy="3.01324807849294E-06"
        iyz="1.32071852497587E-09"
        izz="1.91425361842378E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="-0.065027 -0.0044352 -0.0173"
      rpy="0 -1.5708 0" />
    <parent
      link="Link4" />
    <child
      link="Link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link6">
    <inertial>
      <origin
        xyz="-0.0615583830137302 -1.05939374422659E-05 -0.0224789208044751"
        rpy="0 0 0" />
      <mass
        value="0.0256914118358871" />
      <inertia
        ixx="3.54799287343329E-06"
        ixy="-1.41881743012619E-10"
        ixz="-5.38598418793813E-09"
        iyy="3.32687013710215E-06"
        iyz="-5.99951779801427E-09"
        izz="1.36858362271785E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint6"
    type="revolute">
    <origin
      xyz="0.0173 0.0044352 0.077151"
      rpy="0 1.5708 0" />
    <parent
      link="Link5" />
    <child
      link="Link6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="Link7">
    <inertial>
      <origin
        xyz="-0.0456918776102906 -0.00159180881516716 0.0322192933350766"
        rpy="0 0 0" />
      <mass
        value="0.0603672149333555" />
      <inertia
        ixx="9.65136533704963E-06"
        ixy="5.55975997705985E-08"
        ixz="1.38653144457175E-06"
        iyy="5.32336306038504E-05"
        iyz="-3.15142393687124E-08"
        izz="5.43275113234997E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link7.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.698039215686274 0.698039215686274 0.698039215686274 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/Link7.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint7"
    type="revolute">
    <origin
      xyz="-0.09 0 -0.0173"
      rpy="0 -1.5708 0" />
    <parent
      link="Link6" />
    <child
      link="Link7" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>